/temp.json
/target/
/.settings/
/src/main/resources/static/css/
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
/src/main/resources/static/js/
/src/main/vue/node_modules/

